<!DOCTYPE html>

<html>
  <head>
    <title>File Metadata</title>
    
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h1>API Project: File Metadata Microservice</h1>
      <h2>Usage:</h2>
      <p>Please Upload a File ...</p>
      <div class="view">
        <h3 id="output"></h3>
        <form enctype="multipart/form-data" method="POST" action="https://xfair-3.onrender.com/api/fileanalyse">

          <input id="inputfield" type="file" name="upfile" />
          <input id="button" type="submit" value="Upload" />
        </form>
      </div>
    </div>
  <script type="module" src="https://static.cloudflareinsights.com/beacon.min.js/v4513226cdae34746b4dedf0b4dfa099e1781791509496" integrity="sha512-ZE9pZaUXND66v380QUtch/5sE9tPFh2zg45pR2PB0CVkCtOREv2AJKkSidISWkysEuQ0EH8faUU5du78bx87UQ==" data-cf-beacon='{"version":"2024.11.0","token":"23aab9bc39df417f841cda8fdd25ebd0","r":1}' crossorigin="anonymous"></script>
</body>
</html>
